@import 'colors';
@import 'metrics';

/** Official Material Design styles */

/** Lists */
.primary-text {
  color: $black_87;
  font-size: $list-item-font-size;
}

.secondary-text {
  color: $black_54;
  font-size: $list-item-font-size - 2px;
}
