@import 'metrics';

.main-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.dynamic-content {
  padding-top: 64px;
}